html {
    font-size: 62.5%;
    line-height: 1.5;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: #111;
    padding: 2.4rem 2.4rem 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-size: 1.6rem;
}

::selection {
    background: #E85E00;
    color: white;
    text-shadow: none;
}

::-moz-selection {
    background: #E85E00;
    color: white;
    text-shadow: none;
}

img {
    max-width: 100%;
    vertical-align: top;
}

h1 {
    font-family: "Times New Roman", serif;
    font-size: 3.6rem;
    font-weight: normal;
    line-height: 4rem;
    margin: 0 0 4.8rem;
}

h2 {
    font-size: 1.6rem;
    line-height: 3.2rem;
    margin: 0 0 2.4rem;
}

h3 {
    font-size: 1.8rem;
    line-height: 2.4rem;
    margin: 0 0 2.4rem;
}

h4, h5, h6 {
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin: 0 0 2.4rem;
}

p, ol, ul, dl, table, address, figure {
    margin: 0 0 2.4rem;
}

ul, ol {
    padding-left: 2.4rem;
}

li ul, li ol {
    margin-bottom: 0;
}

blockquote {
    font-style: italic;
    font-size: 2.3rem;
    line-height: 3.2rem;
    margin: 0 0 2.4rem;
    font-family: "Times New Roman", serif;
}

blockquote * {
    font-size: inherit;
    line-height: inherit;
}

figcaption {
    font-size: 2.4rem;
    line-height: 1.6rem;
    padding-top: 0.8rem;
    color: grey;
}

hr {
    border: 0;
    height: 1px;
    background: LightGrey;
    margin: 0 0 2.4rem;
}

a {
    color: RoyalBlue;
    transition: all .1s ease-in-out;
}

a:visited, a:active {
    color: BlueViolet;
}

a:hover, a:focus {
    color: crimson;
}

@media (min-width: 76.8rem) {
    html {
        padding: 4.8rem 4.8rem 2.4rem;
    }

    body {
        min-width: 42em;
        margin: 0 auto;
    }

    h1 {
        font-size: 5.8rem;
        line-height: 6.4rem;
    }
}
